.Nom{
  margin-left: 20px;
  width: 100px;
  white-space: nowrap;
}

.sammy-wrap {
  border-radius: 6px;
  background-color: aliceblue;
  border: 2px dashed gray;
  max-width: 70%;
  padding: 1em;
  margin-bottom: .4em;
}
.sammy-nowrap-1 {
  border-radius: 6px;
  background-color: aliceblue;
  border: 2px dashed gray;
  max-width: 70%;
  padding: 1em;
  margin-bottom: .4em;
  white-space: nowrap;
}
.sammy-nowrap-2 {
  border-radius: 6px;
  background-color: aliceblue;
  border: 2px dashed gray;
  max-width: 70%;
  padding: 1em;
  margin-bottom: .4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


  
  
